body {

	background-image: url("../images/background.jpg");
	background-position: top center;
	font-family: "trebuchet MS", Verdana, sans-serif;

image {
	size: 100%;
	object-fit: cover;
}

	.logo {
		width: 50%;
		display: block;
  	margin-left: auto;
  	margin-right: auto;
		padding: 100px;
	}

	.youtube {
		display: block;
  	margin-left: auto;
  	margin-right: auto;
		width: 30%;
		padding: 90px;
	}

	.albumcover{
		display: block;
  	margin-left: auto;
  	margin-right: auto;
		width: 50%;
	}

	p {
		color: white;
		font-size: 120%;
		background-color: grey;
		padding-left: 400px;
		padding-right: 400px;
		padding-top: 50px;
		padding-bottom: 50px;
		line-height: 1.5;
		text-align: center;
		font-weight: bold;
		text-shadow: 1px 1px 1px red,
								 2px 2px 1px red;
	}

	ol {
		text-align: center;
		border: 2px solid;
		padding: 100px;
		font-weight: lighter;
		list-style-type: upper-roman;
	}

	a {
		display: inline-block;
		width: 19.5%;
		margin-right: 0.625%;
		text-align: center;
		line-height: 3;
		color: white;
	}

	a:link {
		background-color: #128a7d;
	}

	a:visited {
		color: grey;
	}

	a:focus {
		color: white;
		background: red;
	}

	a:hover {
		background-color: #02798b;
		opacity: 0.8;
	}

	footer {
		font-size: 150%;
		text-align: center;
	}
}
